@font-face {
    font-family: Villeray-Regular;
    src: url('../fonts/Villeray-Regular.ttf');
}
@font-face {
    font-family: Blacksword;
    src: url('../fonts/Blacksword.otf');
}
@font-face {
    font-family: Lato-Hairline;
    src: url('../fonts/Lato-Hairline.ttf');
}
@font-face {
    font-family: Lato-Light;
    src: url('../fonts/Lato-Light.ttf');
}
body {
    font-family : arial;
    font-size   : 13px;
    line-height : 24px;
    color       : #000;
    font-weight : 400;
    background: #fff;
    }

/* --------------------------------------
Global Typography
------------------------------------------*/
p{
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    margin      : 0 0 15px;
    color       : #313131;
    font-weight : 400;
    }

h1 {
    font-size   : 30px;
    line-height : 24px;
    }

h2 {
    font-size   : 24px;
    line-height : 24px;
    }

h3 {
    font-size   : 20px;
    line-height : 24px;

    }

h4 {
    font-size   : 18px;
    line-height : 24px;
    }

h5 {
    font-size   : 16px;
    line-height : 24px;
    font-weight : 600;
    }

h6 {
    font-size   : 14px;
    line-height : 24px;
    }

/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
    color              : #333333;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
    }

a:hover,
a:focus {
    text-decoration : none;
    }


ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
    }

hr{
    border-color: #e2dcdc; 
}
/* --------------------
   Section Background
   -------------------*/
/* 
Youtube Style
*/
.seocips-tbn-frm { width:100%; max-width:800px; margin:10px auto; }
.seocips-tbn-frm_inner { position:relative; padding-bottom:53%; height:0; background-color:#000 !important; border:15px solid #CACACA; }
.seocips-tbn-frm_inner iframe,.seocips-tbn-frm_inner object,.seocips-tbn-frm_inner embed { position:absolute; top:0; width:100%; height:100%; }
.bottomshadows { position:relative; }
.bottomshadows:before,.bottomshadows:after { z-index:-1; position:absolute; content:""; bottom:0; left:10px; width:50%; top:80%; max-width:300px; background:#777; -webkit-box-shadow:0 15px 10px #777; -moz-box-shadow:0 15px 10px #777; box-shadow:0 15px 10px #777; -webkit-transform:rotate(-4deg); -moz-transform:rotate(-4deg); -o-transform:rotate(-4deg); -ms-transform:rotate(-4deg); transform:rotate(-4deg); }
.bottomshadows:after { -webkit-transform:rotate(4deg); -moz-transform:rotate(4deg); -o-transform:rotate(4deg); -ms-transform:rotate(4deg); transform:rotate(4deg); right:10px; left:auto; }
@media all and (max-width:400px) {
    .seocips-tbn-frm_inner { border:7px solid #CACACA !important; } .bottomshadows:before,.bottomshadows:after { bottom:9px !important; }
}
/* 
Youtube Style
*/
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
.gray-bg {
    background:url('../img/bg2.jpg')  bottom;
    background-color : #2d3741;
    }

.white-bg {
    background-color : #fff;
    }
.lihat-berita{

    padding: 3%;
}
.lihat-berita h3{
    margin-top: 5%;
    font-size: 30px;
    margin-bottom: 2%;
    font-weight: 600;
}
.lihat-berita p{
    margin-top: 2%;
    text-align: left;
    font-size: 16px;
    max-width: 900px;
}

    .head-berita{
        margin-top: 4%;
        padding: 2%;
        margin-bottom: -10px;
    }
.lihat-berita h3{
    color: #fff;
    border-bottom-right-radius:  40px;
    padding: 2%;
    background-color: #1384d3;
}
.head-berita h2{
    border-bottom-right-radius:  40px;
    padding: 1.5%;
    background-color: #1384d3;
}
    .head-berita a{
    font-size: 19px;
        color: #fff;
        font-weight: 400;
    }
.konten-berita{
    padding: 1%;
}
.konten-berita img{
    width: 100%;
}
.konten-berita p{
    font-family: arial;
    margin-bottom: 4%;
    max-width: 650px;
    font-size: 14px;
    float: right;
}
/* --------------------
   main Wrapper
   -------------------*/
#main-wrapper{
    background: #fff;
    }

/*Button Style*/
.btn {
    padding        : 10px 30px;
    margin-bottom  : 0;
    font-size      : 13px;
    border-radius  : 0;
    text-transform : uppercase;
    }

/*btn-primary*/
.btn-primary {
    background-color : #31aae2;
    border-color     : #31aae2;
    }

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background-color : #2281ad;
    border-color     : #2281ad;
    }

/*btn-default*/
.btn-default {
    color            : #313131;
    background-color : transparent;
    border-color     : #313131;
    }

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    color            : #31aae2;
    background-color : #ffffff;
    border-color     : #ffffff;
    }

/*btn-black*/
.btn-black {
    color            : #ffffff;
    background-color : #313131;
    border-color     : #313131;
    }

.btn-black:focus,
.btn-black:hover {
    color            : #313131;
    border-color     : #313131;
    background-color : transparent !important;
    }

button:focus,
.btn:focus,
.btn:active:focus {
    outline : none;
    }




/* -------------------
   Section Padding
   --------------------*/
.pt-100 {
    padding-top : 100px;
    }

.ptb-90 {
    padding-bottom : 90px;
    padding-top    : 90px;
    }

.ptb-100 {  
    padding-top    : 50px;
    padding-bottom : 50px;
    }

.ptb-150 {
    padding-top    : 150px;
    padding-bottom : 150px;
    }

.ptb-160 {
    padding-top    : 160px;
    padding-bottom : 160px;
    }

.ptb-170 {
    padding-top    : 170px;
    padding-bottom : 170px;
    }

@media (min-width : 768px) {
    /*custom-padding class*/
    .pl-30 {
        padding-left : 30px;
        }

    .pr-30 {
        padding-right : 30px;
        }
    }
    .about-us h3{
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 5%;
        color: #474444;
    }
    .about-us p{
        font-size: 15px;
        color: #474444;
    }
    .about-us a{
        font-weight: 600;
        font-style: italic;
        font-size: 17px;
    }
    .profil-umum {
        color: #474444;
        margin-top: 5%;
    }
    .profil-umum2 {
        color: #474444;
        margin-top: 5%;
        font-size: 16px;
        font-style: italic;
        margin-left: 5%;   
    }
    .profil-umum img {
        margin-left: 20%;
    }
    .profil-umum h2{
        font-weight: 600;
        font-style: italic;
        margin-top: 10px;

    }
    .profil-umum p{
        font-size: 14px;
        margin-top: 10px;
        max-width: 100%;
        padding: 5px;
        color: #474444;
    }
/* ----------------------------------------------
text-highlights
------------------------------------------------- */
.text-highlights {
    color   : #ffffff;
    padding : 0px 5px;
    }

.text-highlights.black {
    background : #313131;
    }

.text-highlights.blue {
    background : #31aae2;
    }

/*Common Page Header*/
.page-header {
    padding-bottom : 0;
    margin         : 100px 0;
    border-bottom  : 0;
    }

.page-header h1 {
    font-size      : 70px;
    line-height    : 70px;
    color          : #ffffff;
    font-weight    : 400;
    text-transform : capitalize;
    margin-bottom  : 30px;
    font-family    : 'Montserrat', sans-serif;
    }

.page-header .sub-title {
    display        : block;
    font-size      : 40px;
    line-height    : 40px;
    color          : rgba(255, 255, 255, 0.5);
    font-weight    : 700;
    text-transform : uppercase;
    font-family    : 'Montserrat', sans-serif;
    }

@media (max-width : 766px) {
    .page-header h1 {
        font-size   : 44px;
        line-height : 44px;
        }

    .page-header .sub-title {
        font-size   : 30px;
        line-height : 30px;
        }
    }

/*feature-section*/
.feature-section {
    background      : url(../../assets/img/feature-bg.jpg) no-repeat;
    background-size : cover;
    }

/* ------------------------------------------------------------------
BACK TO TOP
--------------------------------------------------------------------- */
#toTop {
    position    : fixed;
    bottom      : 30px;
    right       : 30px;
    color       : #31aae2;
    cursor      : pointer;
    display     : none;
    z-index     : 9999;
    width       : 30px;
    height      : 30px;
    border      : 2px solid #31aae2;
    text-align  : center;
    font-size   : 18px;
    line-height : 24px;
    }

#toTop:hover {
    color              : #ffffff;
    background-color   : #31aae2;
    border             : 1px solid transparent;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

/* ------------------------------------------------------------------
Shortcode Content
--------------------------------------------------------------------- */
.page-title-section {
    padding-top     : 80px;
    background      : url(../../assets/img/page-bg/page-bg-1.jpg) no-repeat center center #4795bb;
    background-size : cover;
    }

/*-----------------------------
 NAVIGATION & HEADER STYLE
--------------------------------*/

/*Navigation*/
@media screen and (max-width : 768px) {
    .navbar-collapse.collapse {
        display : none !important;
        }

    .navbar-default {
        background    : #333333 !important;
        padding       : 10px 0;
        border-bottom : none;
        }
    }

@media (min-width : 768px) {
    .navbar-default {
                border-bottom: 4px solid #1e1d1d;
        background-color   : transparent;
        padding            : 30px 0;
        border-color       : transparent;
        -webkit-transition : all .5s ease-in-out;
        -moz-transition    : all .5s ease-in-out;
        transition         : all .5s ease-in-out;
        }

    .sticky-nav.navbar-default {
        border-bottom: 4px solid #1e1d1d;
        background-color : #333333;
        padding          : 10px 0;
        }

    .navbar-right .dropdown-menu {
        margin-top: 5px;
        right : auto;
        }
    }

.navbar-default {
    width: 100%;
    }

.navbar-brand {
    padding: 10px;
    margin-top: 0px;
    width: 80%;
    height: 90px;
    }
.navbar-brand img{
    width: 55%;
  }

.navbar-default .navbar-nav > li {
    margin-right : 5px;
    }

.navbar-default .navbar-nav > li:last-child {
    margin-right : 0px;
    }

.navbar-default .navbar-nav > li > a {
    font-family: arial;
    color          : #ffffff;
    font-size      : 1em;
    font-weight    : 700;
    padding        : 8px 10px;
    border         : 2px solid transparent;
    border-radius  : 2px;
    text-transform : uppercase;
    }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color            : #ffffff;
    background-color : transparent;
    border           : 2px solid #ffffff;
    }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color            : #ffffff;
    background-color : transparent;
    border           : 2px solid #ffffff;
    }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color : #ffffff;
    }

.nav-cta {
    float              : right;
    margin-right       : 15px;
    margin-left        : 25px;
    line-height        : 40px;
    -webkit-transition : all .3s ease-in-out;
    -moz-transition    : all .3s ease-in-out;
    transition         : all .3s ease-in-out;
    }

.nav-cta > li > a {

    display     : inline-block;
    color       : #ffffff;
    width       : 20px;
    height      : 34px;
    line-height : 34px;
    text-align  : center;
    }

.nav-cta .dropdown-menu {
    left  : auto;
    right : 0;
    }

.head-search {
    width : 370px;
    }

.head-search {
    padding : 8px;
    }

.head-search .form-control {
    height : 40px;
    }

.head-search .btn {
    padding : 10px 20px;
    }

/*Dropdown Menu*/

.dropdown-menu {

    display            : inherit;
    top                : 100% !important;
    padding            : 0;
    font-size          : 13px;
    opacity            : 0;
    visibility         : hidden;
    border             : 1px solid #f5f5f5;
    border-radius      : 0;
    box-shadow         : 0px -2px 0px #000000;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
    }

.dropdown:hover .dropdown-menu {
    display    : block;
    margin-top : 10px !important;
    opacity    : 1;
    visibility : visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    }

.dropdown-menu::before {
    top      : -30px;
    content  : "";
    position : absolute;
    width    : 100%;
    height   : 30px;
    display  : block;
    }

.sticky-nav .dropdown:hover .dropdown-menu {
    margin-top : 14px !important;
    }

.dropdown-header {
    font-size      : 11px;
    line-height    : 30px;
    margin-left: -2px;   
    font-weight    : 600;
    color          : #313131;
    text-transform : uppercase;
    }

.dropdown-menu li a {
    display     : block;
    font-size   : 13px;
    line-height : 30px;
    color       : #000;
    padding     : 5px;
    }

.dropdown-menu li a:hover {
    color            : #1384d3;
    background-color : #f5f5f5;
    padding-left     : 10px;

    }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {

    color            : #31aae2;
    background-color : #f5f5f5;
    padding-left     : 25px;
    }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    color            : #1384d3;
    background-color : transparent;
    }

/*Mega Menu*/
.m-menu .nav,
.m-menu .collapse
 {

    position : static;
    margin-top: -6%;
    }

.m-menu .dropup,
.m-menu .dropdown{
    position: static;
}

.m-menu .container {
    position : relative;
    }

.m-menu .dropdown-menu {

    left : auto;
    }

.m-menu .m-menu-content {
    padding-top: 10px;
    padding-bottom: 10px;
    }

.m-menu .dropdown.m-menu-fw .dropdown-menu {

    left  : 5px;
    right : 5px;
    }

.m-menu-content ul {
    background-color: #fff;

    padding      : 1px;
    }

.m-menu-content ul:last-of-type {
    border-right : 0;
    }

@media (max-width : 768px) {
    .navbar-toggle {
        display : block;
        }
    }

.navbar-toggle {
    position      : absolute;
    right         : 0;
    padding       : 5px 10px;
    border        : 0;
    border-radius : 0;
    }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color : transparent;
    }

.navbar-toggle .icon-bar {
    width  : 14px;
    height : 3px;
    }

.navbar-default .navbar-toggle .icon-bar {
    background-color : #ffffff;
    }

.navbar-toggle .icon-bar + .icon-bar {
    margin-top : 2px;
    }

/*uc-mobile-menu*/
.uc-mobile-menu {
    }

.uc-mobile-menu-container > div {
    visibility : hidden;
    }

#menu {
    margin : 50px 40px;

    }

#menu > li {
    text-transform : uppercase;
    }
.cild-ul{
    font-size: 12px;
}
#menu > li:last-child {
    border-bottom : 0;
    }

#menu > li ul li {
    margin-left : 0;
    color       : #999999;

    }

#menu li a {
    display         : block;
    text-decoration : none;
    color           : #777777;
    padding         : 10px 0;
    font-size: 16px;
    border-bottom: 1px dotted #444;
    }


#menu li a:hover,
#menu li.active a {
    color : #ffffff;
    }

/*Mobile Menu Close*/
.uc-mobile-menu .close {
    position           : absolute;
    right              : 0;
    top                : 0;
    color              : #ffffff;
    text-shadow        : none;
    filter             : alpha(opacity=50);
    opacity            : .5;
    width              : 44px;
    height             : 44px;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

.uc-mobile-menu .close:hover {
    opacity : 1;
    }

/*-------------------
    HERO SLIDER
--------------------*/

.hero-slide .carousel-caption {

    bottom      : 50%;
    text-shadow : none;
    transform   : translateY(50%);
    }

.hero-slide .carousel-caption h1 {
    font-size      : 60px;
    line-height    : 1;
    font-weight    : bold;
    text-transform : uppercase;
    color          : #ffffff;
    }

.hero-slide .carousel-caption p {

    font-size   : 20px;
    color       : #ffffff;
    font-weight : normal;
    }

.hero-slide .carousel-control.left,
.hero-slide .carousel-control.right {
    width       : 50px;
    height      : 50px;
    line-height : 46px;
    top         : 50%;
    margin-top  : -25px;
    background  : transparent;
    cursor      : pointer;
    border      : 2px solid #ffffff;
    text-shadow : none;
    }

.hero-slide .carousel-control.left {
    left : 1%;
    }

.hero-slide .carousel-control.right {
    right : 1%;
    }

.hero-slide .carousel-indicators {
    bottom : 60px;
    }

.hero-slide .carousel-indicators li {
    border : 2px solid #ffffff;
    }

/*Media Query*/
@media screen and (max-width : 768px) {
    .hero-slide {
        margin-top : 60px;
        }

    .hero-slide .carousel-caption h1 {
        font-size : 24px;
        }

    .hero-slide .carousel-indicators {
        bottom : 20px;
        }

    .hero-slide .carousel-caption p {
        font-size : 12px;
        }
    }

/* -------------------
 Section Title Style
 --------------------- */
.section-title {
    margin-bottom : 30px;
    }
.section-title h2 {
    color: #fff;
    }
.section-title h3 {
    font-weight: 600;
    font-size      : 30px;
    text-transform : capitalize;
    position       : relative;
    color: #5d5757;
    }
.section-title h2 {
    font-size      : 30px;
    text-transform : capitalize;
    position       : relative;
    }

.section-title span.bordered-icon {
    color       : #fff;
    padding     : 0 10px;
    font-size   : 12px;
    line-height : 18px;
    position    : relative;
    display     : inline-block;
    }

.section-title span.bordered-icon:before,
.section-title span.bordered-icon:after {
    content    : "";
    background : #fff;
    width      : 50px;
    height     : 1px;
    top        : 8px;
    position   : absolute;
    }

.section-title span.bordered-icon:before {
    left : 100%;
    }

.section-title span.bordered-icon:after {
    right : 100%;
    }

/*---------------------------
 Service section
 ---------------------------*/


@media (min-width : 768px) {
    .x-services .thumbnail a > img,
    .x-services .thumbnail > img {
        float : left;
        width: 270px;
        height: 190px;
        padding: 6px;
        }
    }

@media (max-width : 767px) {
    .x-services .thumbnail a > img,
    .x-services .thumbnail > img {
        width : 100%;

        }
    }


/* --------------------------------------------------
features start
-----------------------------------------------------*/
.x-features {
    background : #f6f7f8;
    padding    : 100px 0 60px 0;
    }

.x-features .section-title h2 {
    font-family: Villeray-Regular;
    margin-bottom: 5%;
    color : #1384d3;
    font-weight: 600;
    }

.x-features .img-left img{
    animation: pulse 1s infinite;
    padding: 1%;
    text-align: center;
    margin-top: -5%;    
    width: 100%;
    height: 100%;
    }

@media (max-width : 992px) {
    .x-features .img-left {

        margin-bottom : 40px;
        margin-top    : 0px;
        }
    }

.x-features .promo-icon {
    float        : left;
    margin-right : 25px;
    font-size    : 30px;
    color        : #9dd1f6;
    }

.x-features .promo-content {
    color          : #9dd1f6;
    overflow       : hidden;

    margin-bottom  : 20px;
    padding-bottom : 10px;
    }

.x-features .promo-content.last-type {
    border-bottom  : 0;
    margin-bottom  : 0px;
    padding-bottom : 0px;
    }

.x-features .promo-content h3 {

    font-family: arial;
    font-size   : 20px;
    line-height : 26px;
    font-weight : 200;
    color       : #2a2a2a;
    }

/* ----------------------------------------------
Team
------------------------------------------------- */
.team {
    }

.team .thumbnail {
    padding          : 0;
    margin-bottom    : 40px;
    line-height      : 22px;
    background-color : #ffffff;
    border           : 0;
    }

@media (max-width : 767px) {
    .x-features .section-title h2 {
    margin-top: 10%;
    }
    .x-features .img-left img{
    text-align: center;
    margin-top: 3%;
    }
    .team .thumbnail {
        margin-bottom : 30px;
        }
    }

.team .thumbnail img {
    width : 100%;
    }

.team .thumbnail .caption {
    padding          : 15px 0;
    background-color : #f9f9f9;
    color            : #313131;
    }

.team .thumbnail h3 small {
    font-size      : 11px;
    color          : #a3a2a2;
    text-transform : uppercase;
    }

.team .thumbnail h3 {
    font-size      : 16px;
    text-transform : capitalize;
    margin         : 0;
    }

/* --------------------------------------------------
      testimonial start
-----------------------------------------------------*/
.testimonial .section-title h2 {
    color : #ffffff;
    }

.testimonial {
    padding    : 100px 0px;
    color      : #ffffff;

    /* gradient: #0c0fce+0,e000e0+100 */
    background : #0c0fce; /* Old browsers */
    background : -moz-linear-gradient(-45deg, #0c0fce 0%, #e000e0 100%); /* FF3.6-15 */
    background : -webkit-linear-gradient(-45deg, #0c0fce 0%, #e000e0 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(135deg, #0c0fce 0%, #e000e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c0fce', endColorstr='#e000e0', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    }

.testimonial .carousel-control {
    text-shadow : none;
    }

#testimonialSlider .carousel-inner .item {
    max-height: 500px;
    text-align : center;
    }

#testimonialSlider .carousel-inner .item img {
    display       : inline-block;
    width         : 60px;
    height        : 60px;
    border-radius : 3px;
    }
.carousel-inner .item img{
    background-size: cover;
    width: 1366px;
    height: 700px;
}
#testimonialSlider .carousel-inner .item .name {
    text-transform : uppercase;
    font-size      : 12px;
    margin-top     : 5px;
    color          : rgba(255, 255, 255, 0.5);
    }

#testimonialSlider .carousel-inner .item blockquote {
    border-left : 0px;
    }

#testimonialSlider .carousel-inner .item blockquote p {
    font-size   : 20px;
    line-height : 34px;
    /*padding: 0px 80px;*/
    font-weight : 300;
    }

#testimonialSlider .carousel-inner .item blockquote ul {
    margin : 30px 0px;
    }

#testimonialSlider .carousel-control.right,
#testimonialSlider .carousel-control.left {
    background  : transparent;
    border      : 2px solid #ffffff;
    width       : 34px;
    height      : 34px;
    line-height : 28px;
    text-align  : center;
    top         : 50%;
    }

@media (min-width : 768px) {
    /*custom-padding class*/
    #testimonialSlider .carousel-indicators {
        bottom : -60px;
        }
    }

@media (min-width : 992px) and (max-width : 1199px) {

    #testimonialSlider .carousel-inner .item blockquote p {
        font-size : 18px;
        }
    }

@media (min-width : 768px) and (max-width : 991px) {
    #testimonialSlider .carousel-inner .item blockquote p {
        font-size   : 13px;
        line-height : 24px;
        }
    }

@media only screen and (min-width : 480px) and (max-width : 767px) {
    #testimonialSlider .carousel-inner .item blockquote p {
        font-size     : 13px;
        line-height   : 24px;
        margin-bottom : 20px;
        padding       : 0;
        }
    }

@media (max-width : 766px) {
    #testimonialSlider .carousel-control.right,
    #testimonial-slider .carousel-control.left {
        display : none;
        }

    #testimonialSlider .carousel-inner .item blockquote p {
        margin-bottom : 20px;
        padding       : 0;
        }

    }

/*testimonial end*/

/* client-logo */
.client-logo {
    }

.client-logo a img {
    width              : 100%;
    opacity            : 0.5;
    -webkit-transition : all 0.8s ease 0s;
    -moz-transition    : all 0.8s ease 0s;
    -o-transition      : all 0.8s ease 0s;
    transition         : all 0.8s ease 0s;
    }

.client-logo a:hover img {
    opacity : 1;
    }

@media (max-width : 992px) {
    .client-logo .section-margin {
        margin-bottom : 30px;
        }
    }

/* --------------------------------------------
    Page Title
----------------------------------------------- */

.single-page-title {
    background            : url(../img/slide-1.jpg) no-repeat bottom;
    background-size       : cover;
    width                 : 100%;
    background-attachment : fixed;
    padding               : 15% 0 5%;
    position: relative;
    }

.single-page-title::before{
    position: absolute;
    content: "";
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    }

.single-page-title h2 {
    font-family: Villeray-Regular;
    display        : inline-block;
    font-size      : 50px;
    text-transform : uppercase;
    font-weight    : 700;
    margin-bottom  : 0;
    color          : #fff;
    position: relative;
    z-index: 1;
    }


/*-------------------------
    Progress Bar
 ---------------------------*/

.x-progress {}
.x-progress .progress-wrapper {
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    }
.x-progress .progress-item {
    line-height: 43px;
    padding: 0 20px;
    border-bottom: 1px solid #f1f1f1;
    }
.x-progress .progress-item:last-of-type {
    border-bottom: 0;
    }
.x-progress .progress-title {
    display: inline-block;
    float: left;
    width: 95px;
    }
.x-progress .progress-percent {
    display: inline-block;
    float: right;
    text-align: center;
    padding-left: 30px;
    }
.x-progress .progress {
    width: 70%;
    display: inline-block;
    height: 8px;
    margin-bottom: 0;
    background-color: #f9f9f9;
    box-shadow: none;
    }

@media (min-width : 992px) and (max-width : 1199px) {
    .x-progress .progress {
        width: 60%;
        }
    }
@media only screen and (max-width : 767px) {
    .x-progress .progress {
        width: 60%;
        }
    }
@media only screen and (max-width : 479px) {
    .x-progress .progress-title {
        width: 70px;
        }
    .x-progress .progress {
        width: 40%;
        }
    }

.x-progress .progress-bar {
    background-color: #31aae2;
    box-shadow: none;
    }



/* --------------------------------------------------
service-icon-style
------------------------------------------------- */

.service-icon-style {}
/*promo-block*/
.service-icon-style .promo-block-wrapper {
    /*margin-bottom: 80px;*/
    }

.service-icon-style .promo-icon {
    width: 75px;
    height: 80px;
    color: #dadada;
    font-size: 24px;
    line-height: 76px;
    text-align: center;
    border: 2px solid #dadada;
    margin: 0 auto 36px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    }
.service-icon-style .promo-block-wrapper:hover .promo-icon {
    background-color: #31aae2;
    color: #fff;
    border: 2px solid transparent;
    }

.service-icon-style .promo-content {
    padding: 20px;
    }
.service-icon-style .promo-content h3{
    font-size: 15px;
    text-transform: capitalize;
    }


/* ---------------------------------
    x-accordion
 ------------------------------------*/

.x-accordion-section{
    background: #f9f9f9;
    }

.x-accordion .panel-group .panel+.panel {
    margin-top: 0px;
    }

.x-accordion .panel-group {
    margin-bottom: 0;
    }
.x-accordion .panel-default {
    border: 0;
    }
.x-accordion .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 10px solid transparent;
    border-radius: 0;
    margin: 0;
    }
.x-accordion .panel:last-of-type {
    border-bottom: 0;
    }
.x-accordion .panel .panel-heading a {
    display: block;
    padding: 12px 30px;
    background: #fff;
    color: #31aae2;
    }
.x-accordion .panel .panel-heading a.collapsed {
    color: #969595;
    background-color: #fff;
    padding: 12px 30px;
    }
.x-accordion .panel-default>.panel-heading {
    border-radius: 0px;
    padding: 0;
    }

.x-accordion .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    padding: 10px 30px 30px 30px;
    background: #fff;
    color: #969595;
    }


@media screen and (max-width:768px){
    .x-accordion .panel-group{
        margin-bottom: 50px ;
        }
    }

/*----------------------
 tabOne start
 -----------------------*/
.tabOne {}
.tabOne .nav-tabs {
    border: 1px solid #eee;
    border-bottom: none;
    }
.tabOne .nav-tabs.nav-justified li {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    }
.tabOne .nav-tabs.nav-justified li.active {
    border-bottom: 1px solid transparent;
    }
.tabOne .nav-tabs.nav-justified li:last-child {
    border-right: 0;
    }
.tabOne .nav-tabs.nav-justified>li>a {
    border: 0;
    border-radius: 0;
    background-color: #f9f9f9;
    color: #969595;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    }
.tabOne .nav-tabs.nav-justified>.active>a,
.tabOne .nav-tabs.nav-justified>.active>a:focus,
.tabOne .nav-tabs.nav-justified>.active>a:hover {
    border: 0;
    background-color: transparent;
    color: #31aae2;
    }

/*media query*/

@media (min-width : 768px) {
    .tabOne .tab-content{
        border: 1px solid #eee;
        padding: 30px;
        border-top: 0;
        overflow: hidden;
        }
    }

@media screen and (max-width : 600px) {
    .tabOne .tab-content{
        margin-top: 30px;
        }
    }

.tabOne .tab-pane img {
    margin-top: 8px;
    }
.tabOne .tab-pane img.pull-left {
    margin-right: 20px;
    }
.tabOne .tab-pane img.pull-right {
    margin-left: 20px;
    }
/*collapse in small devices*/
.tabOne .panel-body img{
    margin-top: 8px;
    }
.tabOne .panel-body img.pull-left {
    margin-right: 20px;
    }
.tabOne .panel-body img.pull-right {
    margin-left: 20px;
    }

.tabOne .tab-pane p {
    margin-bottom: 15px;
    }
.tabOne .tab-pane p:last-of-type {
    margin-bottom: 0;
    }


/* ------------------
   Google Map
   ------------------*/

#googleMap{
    height: 500px;
    }


/*------------------
  FORM STYLE
  -------------------- */
.form-group {
    margin-bottom: 20px;
    }
.form-control {
    height: 53px;
    padding: 6px 20px 6px 30px;
    font-size: 13px;
    line-height: 24px;
    color: #969595;
    border: 2px solid #F1F1F1;
    border-radius: 0;
    box-shadow: none;
    }
.form-control:focus {
    border: 2px solid #31aae2 !important;
    box-shadow: none;
    }


/*---------------
 Contact Form
 -----------------*/

.contact-form  {}
.contact-form  h2{
    line-height: 36px;
    margin-bottom: 45px;
    }

.user-message textarea {
    min-height: 195px;
    padding-top: 12px;
    }
.contact-form form button {
    margin-top: 10px;
    }


.user-name,
.user-email,
.user-phone,
.user-url,
.user-message{
    position: relative;
    }
.user-name::after,
.user-email::after,
.user-phone::after,
.user-url::after,
.user-message::after {
    position: absolute;
    left: 15px;
    top: 15px;
    font-family: "FontAwesome";
    color: #dadada;
    }

.user-name::after {
    content: "\f007";
    }
.user-email::after {
    content: "\f003";
    }
.user-phone::after {
    content: "\f095";
    }
.user-url::after {
    content: "\f0ac";
    }
.user-message::after {
    content: "\f086";
    }


/* --------------------------------------------
    Footer
----------------------------------------------- */
.footer {
    background : #313131;
    }

.footer .footer-block {
    border-right : 1px solid #3a3a3a;
    padding      : 80px 60px;
    min-height   : 380px;
    }

@media (min-width : 992px) and (max-width : 1199px) {
    .footer .footer-block {
        padding : 60px 50px;
        }
    }

@media (min-width : 768px) and (max-width : 991px) {
    .footer .footer-block {
        padding : 50px 15px;
        }
    }

@media (max-width : 767px) {
    .footer .footer-block {
        padding    : 30px 15px;
        min-height : inherit;
        }
    }

.footer .footer-block.last {
    border-right : 0;
    }

.footer .footer-widget h3 {
    font-size     : 16px;
    line-height   : 22px;
    color         : #ffffff;
    margin-bottom : 25px;
    }

.footer .widget_text {
    }

.footer .footer-logo {
    margin-bottom : 25px;
    }

.footer .footer-widget .btn {
    font-size     : 11px;
    padding       : 5px 18px;
    border-radius : 50px;
    color         : #6b6b6b;
    border        : 1px solid #4a4a4a;
    margin-top    : 40px;
    }

.footer .footer-widget .btn:hover {
    color            : #ffffff;
    background-color : #31aae2;
    border           : 1px solid transparent;
    }

.footer .footer-widget address {
    line-height   : 22px;
    margin-bottom : 30px;
    }

.footer .footer-widget .social-links {
    }

.footer .footer-widget .social-links li a {
    display          : block;
    font-size        : 20px;
    width            : 42px;
    height           : 42px;
    color            : #6b6b6b;
    background-color : #4a4a4a;
    line-height      : 42px;
    text-align       : center;
    border-radius    : 50%;
    }

.footer .footer-widget .social-links li a:hover {
    color            : #ffffff;
    background-color : #31aae2;
    }

.footer .copyright-section {
    background-color : #2d2d2d;
    color            : #6b6b6b;
    padding          : 20px 0;
    }

.footer .copyright-section .copytext {
    text-transform : uppercase;
    color          : #6b6b6b;
    font-weight    : 600;
    }

@media (min-width : 768px) {
    .footer .copyright-section .list-inline > li {
        padding-right : 10px;
        padding-left  : 10px;
        }
    }

.footer .copyright-section li a {
    display   : block;
    font-size : 13px;
    color     : #6b6b6b;
    }

.footer .copyright-section li a:hover,
.footer .copyright-section li.active a {
    color : #ffffff;
    }



/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */
#preloader {
    background: #706d5d;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    }

#status,
.status-mes {
    background-image: url(../img/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    }

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
    }

    /* Image Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* SLIDER Lihat Berita */
.slider{

    width: 640px;  
    position: relative;
    padding-top: 320px;
    margin: 5% 0 0 1%;
    
    /*Lets add a shadow*/
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    margin: 18px 0 0 18px;
    border: 3px solid #999;
    
    float: left;
    cursor: pointer;
    transition: all 0.5s;
    
    /*Default style = low opacity*/
    opacity: 0.6;
}

.slider label img{
    display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}

/* #tag-rpl {
    text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    background-color: #ff7b00;
    opacity: 0.8;
    width: 95%;
    color: #000;
    border-bottom-right-radius: 20px;
}
#tag-tkj {
    text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    background-color: #ffe900;
    opacity: 0.8;
    width: 95%;
    color: #000;
    border-bottom-right-radius: 20px;
} */
#tag-sub {
    font-family: arial;
    font-size: 13px;
/* text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px; */
    background-color: #5473c9;
    border-left: 5px solid #2ba2f2;
    opacity: 1;
    width: 95%;
    color: #fff;
    border-bottom-right-radius: 20px;
}
/* #tag-mm {
text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    background-color: #006eff;
    opacity: 0.8;
    width: 95%;
    color: #000;
    border-bottom-right-radius: 20px;
}
#tag-pbr {
text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    background-color: #00cbff;
    opacity: 0.8;
    width: 95%;
    color: #000;
    border-bottom-right-radius: 20px;
}
#tag-tppp {
text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    background-color: #aa00ff;
    opacity: 0.8;
    width: 95%;
    color: #000;
    border-bottom-right-radius: 20px;
}
#tag-ak {
text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    background-color: #db1313;
    opacity: 0.8;
    width: 95%;
    color: #000;
    border-bottom-right-radius: 20px;
}
#tag-apk {
text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    background-color: #36aa08;
    opacity: 0.8;
    width: 95%;
    color: #000;
    border-bottom-right-radius: 20px;
}
#tag-aph {
text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
             #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
    background-color: pink;
    opacity: 0.8;
    width: 95%;
    color: #000;
    border-bottom-right-radius: 20px;
} */
.event-baru{
    margin-top: 10%;
}
.event-baru h4{
    font-family: arial;
}
.sub-event{
    margin-bottom: 10px;
}
.sub-event img{
    text-align: center;
    border: 3px solid #90a7e5;
    opacity: 0.8;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.sub-event h5  {
    font-family: arial;
    width: 100%;
    font-size: 1.2em;
}
.sub-event p{
    margin-top: -10px;
    background-color: #5473c9;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    padding: 0.3px;
}
.lsp img{
    width: 100%;
    height: 380px;
}
.btn-lihat{
    margin-top: 1%;
    padding: 2%;
    border-radius: 3px;
    color: #fff;
    background-color: #1384d3;
    border: none;
    box-shadow: 0px 3px 0px #1477ba;
}
.btn-lihat:hover{
    color: #fff;
    background-color: #0f6caa;
    box-shadow: 0px 3px 0px #0f5889;
}
.lsp h3{
    font-weight: 600;
    font-size: 1.6em;
    margin-top: 4%;
}
.item2 {
    margin: 10px;
}

.item2 img {
    display: block;
    width: 100%;
    height: 190px;
}
.galery{
    margin-top: 4%;
}
.galery h3{
    font-weight: 600;
    margin-top: 2%;
    text-align: center;
    text-transform: uppercase;
}
.visi-lsp{
    text-align: center;
    margin-top: 5%;

}
.visi-lsp p{
    font-size: 15px;
    text-align: justify;
    margin-top: 5%;

}
.visi-lsp ol{
    text-align: left;
}

.btn-download{
    margin-top: 1%;
    padding: 2%;
    border-radius: 3px;
    color: #fff;
    background-color: #37a2ed;
    border: none;
    box-shadow: 0px 3px 0px #1384d3;
}
.btn-download:hover{
    background-color: #2a91d6;
}

/* 4 ------- Services Section Styles --------*/

.section-padding {
    padding: 85px 0px;
}
.section-title {
    color: #fff;
    font-size: 1.875em;
    font-weight: 300;
    padding-bottom: 12px;
    text-transform: capitalize;
}
.section-title span {
    color: #e74c3c;
    ;
}
.section-description {
    font-size: 1em;
    font-weight: 300;
    padding: 0px 15%;
}
.section-details {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.services{
    background-image: url('../img/bg3.jpg')
}
.services .section-padding {
    padding-bottom: 0px;
}
.service-details .item-title{
    font-family: arial;
    font-size: 1em;
    color: #fff;
}

.service-details .item {
    width: 100%;
    height: 100px;
    font-size: 1.2em;
    padding: 15px 15px;
}
.service-details .item:hover {
    color: #ffffff;
}
.service-details .item-icon img{
    width: 100%;
    height: 100%;
}
.service-details .item,
.service-details .item-icon,
.service-details .item-description {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.service-details .col-sm-6:first-child .item {
    border: 1px solid #e74c3c;
}
.service-details .col-sm-6:nth-child(2) .item {
    border: 1px solid #7dbb18;
}
.service-details .col-sm-6:nth-child(3) .item {
    border: 1px solid #00cccc;
}
.service-details .col-sm-6:nth-child(4) .item {
    border: 1px solid #ffcc00;
}
.service-details .col-sm-6:first-child .item-icon {
    color: #e74c3c;
}
.service-details .col-sm-6:nth-child(2) .item-icon {
    color: #7dbb18;
}
.service-details .col-sm-6:nth-child(3) .item-icon {
    color: #00cccc;
}
.service-details .col-sm-6:nth-child(4) .item-icon {
    color: #ffcc00;
}
.service-details .col-sm-6:first-child .item:hover {
    background: #e74c3c;
}
.service-details .col-sm-6:nth-child(2) .item:hover {
    background: #7dbb18;
}
.service-details .col-sm-6:nth-child(3) .item:hover {
    background: #00cccc;
}
.service-details .col-sm-6:nth-child(4) .item:hover {
    background: #ffcc00;
}
.service-details .item-icon {
    font-size: 5em;
}
.service-details .item-description {
    font-size: .8125em;
    padding-top: 12px;
}
.service-details .item:hover .item-icon,
.service-details .item:hover .item-description  {
    color: #ffffff;
}

.maklumat{
    margin-top: 4%;
    text-align: left;
}
.foot-info{
    padding: 10px;
    color: #fff;
    background-color: #3a3636;
    width: 100%;
    height: 300px;
}
.foot-info h3{
    text-align: center;
    border-bottom: 2px solid #fff;
    padding: 10px;
    color: #fff;
}
.foot-info p{
    font-family: arial;
    margin-top: 5%;
    color: #dddddd;
    text-align: left;
    background-color: #3a3636;
}
.foot-info p a{
    color: #dddddd;
}
.foot-info p a:hover{
    color: #31aae2;
}
.foot-info img{
    padding: 5px;
    width: 200px;
    height: 60px;
}
.noob h3{
    margin-bottom: 3%;
    color: #000;
    font-family: arial;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #fff;
    padding: 10px;
    border-left: 4px solid #1384d3;

}
.noob p, ol{
    font-family: arial;
    font-size: 15px;
    color: #000;
}

/*Thumbnails
------------------------------------*/
a.thumbnail {
    padding: 0;
    border: none;
    margin-bottom: 15px;
}
.caption{
    padding: 7px;
}
.thumbnail-style {
    height: 300px;
    opacity: 0.7;
    background-color: #fff;
    font-family: arial;
    padding: 0;
    margin-bottom: 20px;
}

.thumbnail-style:hover {
    opacity: 1;
    box-shadow: 0 0 8px #000;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.thumbnail h3,
.thumbnail-style h3 {
    margin: 6px 0 8px 0;
}

.thumbnail h3 a,
.thumbnail-style h3 a {
    text-transform: uppercase;
    font-family: arial;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.thumbnail h3 a:hover,
.thumbnail-style h3 a:hover {
    color: #0e72b5;
    text-decoration: none;
}

.thumbnail-style .thumbnail-img {
    position: relative;
    margin-bottom: 5px;
}

.thumbnail-style a.btn-more {
    border-top-left-radius: 15px;
    right: -10px;
    bottom: 10px;
    color: #fff;
    padding: 3px 10px;
    position: absolute;
    background: #1384d3;
    display: inline-block;
}
.thumbnail-style a.btn-more:hover {
    text-decoration: none;
    box-shadow: 0 0 0 2px #0e72b5;
}
.thumbnail-style:hover a.btn-more {
    right: 10px;
}

.thumbnail-kenburn img {
    width: 100%;
    height: 140px;
    left: 10px;
    margin-left: -10px;
    position: relative;

}
.thumbnail-kenburn:hover img {

}

/*Servive Blocks
------------------------------------*/
/*Service Alternative Block*/
.service-alternative .service:hover {
    background: #76ca2c;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.service-alternative .service:hover i,
.service-alternative .service:hover p,
.service-alternative .service:hover h4 {
    color: #fff;
}
.jurusan {
    margin-top: -10%;
}
.jurusan img{
    margin-top: 0%;
    width: 40%;
    padding: 10px;
    margin-left: 30%;
    animation: pulse 1s infinite;
}
.jurusan h3{
    font-family: arial;
    border-left: 3px solid #ff7b00;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    float: left;
}
.jurusan p{
    font-size: 16px;
    margin-bottom: 5%;
}
.event-btn{
    font-weight: 600;
    width: 100%;
    height: 100%;
    color: #515050;
}
.event-btn:hover{
    color: #5473c9;
}
/*--------------------------------------------------
    [3. Image Hover Effects]
----------------------------------------------------*/
/*Image Hover v1*/
.img-hover-v1 img{
    width: 100%;
    height: 300px;
}
.img-hover-v1 span {

    padding: 5px;
    margin-bottom: 10%;
  display: block;
  overflow: hidden;
  position: relative;
}

.img-hover-v1 span:after{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
}
#text-hover{
text-align: center;
color: #fff;
border-top: 2px solid #000;
background-color: #333333;
padding: 5px;
padding-top: 6px;
opacity: 0.7;
height: 45px;
position:relative;
bottom:30px;

visibility:hidden;
}
.img-hover-v1:hover span:after{
    height: 274px;
    background-color: #1384D3;
    opacity: 0.3;
}
.img-hover-v1:hover span #text-hover {
 visibility: visible;
 opacity: 0.9;
}


.img-hover-v1 img,
.img-hover-v2 img,
.img-hover-v1 span #text-hover {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.img-hover-v1:hover img , .img-hover-v1:hover #text-hover{
  -transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/*Image Hover v2*/
.img-hover-v2 img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.img-hover-v2:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.discuss{
    padding: 20px;
}
.panel-default>.panel-heading{
    color: #fff;
    background-color: #1384d3;
    border-color: #ddd;
}
.body-first{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
   background: url('../img/background2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body-first h1 {
    text-shadow: 3px 3px #000;
    margin-bottom: 3%;
    font-weight: bold;
    text-align: center;
/*     margin-top: 30%; */
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 400;
    color: #fff;
    font-family: Lato-Light;
}
.body-first img{
    margin-top: 5%;
    margin-bottom: 1%;
    width: 15%;
}
.body-first a{
    margin-top: 10%;
    font-weight: 500;
    font-size: 1.5em;
    padding: 1%;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}
.body-first a:hover{

    background-color: #fff;
    color: #000;
    text-decoration: none;
}
@media only screen and (max-width: 700px){
    .body-first h1 {
    text-shadow: 3px 3px #000;
    margin-bottom: 5%;
    font-weight: 700;
    text-align: center;
/*     margin-top: 30%; */
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 400;
    color: #fff;
    font-family: Lato-Light;
}
.body-first img{
    margin-top: 7%;
    margin-bottom: 1%;
    width: 40%;
}
.body-first a{
    font-weight: 500;
    font-size: 1.5em;
    padding: 2%;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}
.body-first a:hover{

    background-color: #fff;
    color: #000;
    text-decoration: none;
}
}